.c-header {
 min-height       : 240px;
 border-bottom    : 1px var(--grey-2) solid;
 background-color : var(--white);
 display          : flex;
 align-items      : center;
 padding-left     : 50px;
}

.c-header__title {
 font-size : 3rem;
 color     : var(--black);
}