.header {
 color: var(--color-primary);
 padding: 24px 0 40px;
 background: var(--bg-primary);
}

.header__top-level {
 display: grid;
 grid-template-columns: 1fr auto auto;
 gap: 56px;
}

.header__title {
 color: var(--title-primary);
 /* h1 */
 font-family: Inter, Sans-Serif;
 font-size: 50px;
 font-style: normal;
 font-weight: 500;
 line-height: 1.28;
 margin: 40px 0 0;
}

.header__nav {
 display: flex;
 gap: 24px;
 align-items: center;
}

.header__burger {
 display: none;
 cursor: pointer;
}

/**
* modifier for inner component page
*/
.header_inner {
 background-color: var(--bg-primary);
 border: none;
}

.header__nav-item {
 color: var(--link-blur-secondary);
 font-family: Inter, Sans-Serif;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
 text-decoration: none;
}

.header__nav-item_active {
 color: var(--link-active-secondary);
}

.header__nav-item:focus {
 text-decoration: underline;
 list-style: none;
 outline: none;
}

.header__nav-item:hover {
 color: var(--link-active-secondary);
 text-decoration: underline;
}

@media screen and (max-width: 768px) {
 .header__title {
  color: var(--title-alternate);
  font-family: Inter, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
 }

 .header_inner {
  background-color: var(--bg-secondary);
 }

 .header__burger {
  display: block;
  height: 24px;
  width: 24px;
  color: var(--color-primary);
  position: absolute;
  top: 24px;
  left: 15px;
  margin: 2px;
  box-sizing: border-box;
 }

 .header__nav, .header__theme-switcher {
  display: none;
 }

 .header__top-level {
  grid-template-columns: 1fr;
 }
}

@media screen and (max-width: 400px) {
 .header__title {
  font-size: 28px;
  line-height: 1.35;
 }
}
