.header {
 border-bottom: 1px var(--grey-2) solid;
 color: var(--black);
 padding: 24px;
}

.header__title {
 font-size: 50px;
 line-height: 1.28;
}

/**
* modifier for inner component page
*/
.header_inner {
 background-color: var(--white);
 border: none;
}