<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>tabs</title>
    </head>
    <body>

        <div class="tabs">
            <input type="radio" id="#all-tab" name="tab" checked>
            <input type="radio" id="#elementary-tab" name="tab">
            <input type="radio" id="#simple-tab" name="tab">
            <input type="radio" id="#complex-tab" name="tab">

            <div class="tabs__scroller">
                <label for="#all-tab">All components</label>
                <label for="#elementary-tab">Elementary</label>
                <label for="#simple-tab">Simple</label>
                <label for="#complex-tab">Complex</label>
            </div>

            <div class="tabs__content tabs__content_elementary">
                Элементарные
            </div>
            <div class="tabs__content tabs__content_simple">
                Простые
            </div>
            <div class="tabs__content tabs__content_complex">
                Сложные
            </div>
        </div>

    </body>
</html>