.tabs {
 height: 100%;
}

.tabs__input {
 position: absolute;
 left: -10000px;
}


.tabs__scroller {
 background: var(--white);
 border-bottom: 1px var(--grey-2) solid;
 overflow: hidden;
}

.tabs__inner {
 display: flex;
 gap: 40px;
 overflow-x: scroll;
 scrollbar-width: none;
}

.tabs__inner::-webkit-scrollbar {
 display: none;
}

.tabs__label {
 color: var(--grey-3);
 padding-bottom: 8px;
 white-space: nowrap;
}

.tabs__content {
 display: none;
 height: 100%;
}



.tabs__input_all:checked ~ .tabs__content_all,
.tabs__input_elements:checked ~ .tabs__content_elements,
.tabs__input_containers:checked ~ .tabs__content_containers,
.tabs__input_templates:checked ~ .tabs__content_templates {
 display: block;
}

.tabs__input_all:focus ~ .tabs__scroller .tabs__label_all,
.tabs__input_elements:focus ~ .tabs__scroller .tabs__label_elements,
.tabs__input_containers:focus ~ .tabs__scroller .tabs__label_containers,
.tabs__input_templates:focus ~ .tabs__scroller .tabs__label_templates {
 color: black;
}

.tabs__input_all:checked ~ .tabs__scroller .tabs__label_all,
.tabs__input_elements:checked ~ .tabs__scroller .tabs__label_elements,
.tabs__input_containers:checked ~ .tabs__scroller .tabs__label_containers,
.tabs__input_templates:checked ~ .tabs__scroller .tabs__label_templates {
 border-bottom: 5px solid black;
}

.tabs__input_all:hover ~ .tabs__scroller .tabs__label_all,
.tabs__input_elements:hover ~ .tabs__scroller .tabs__label_elements,
.tabs__input_containers:hover ~ .tabs__scroller .tabs__label_containers,
.tabs__input_templates:hover ~ .tabs__scroller .tabs__label_templates {
 border-bottom: 5px solid black;
}
