/* Стилизация кнопки */

/**
 * Block'btn'
 */
.btn {
 width: 182px;
 height: 48px;
 flex-shrink: 0;
 border-radius: 8px;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 border: none;
 color: var(--white);
}

.btn:hover, .btn:hover, .btn:hover {
 cursor: pointer;
}

.btn:disabled, .btn:disabled, .btn:disabled {
 opacity: 0.5;
 pointer-events: none;
}

/**
 * Modifiers of block 'btn'
 */
.btn_view_primary {
 background: var(--primary);
}

.btn_view_secondary {
 background: var(--secondary);
}

.btn_view_alternate {
 background: var(--alternate);
 color: var(--alternate-color);
 border: var(--alternate-border);
}

.btn_view_primary:hover {
 background: var(--primary-hover);
}

.btn_view_secondary:hover {
 background: var(--secondary-hover);
}

.btn_view_alternate:hover {
 border-color: var(--alternate-border-hover);
}

