/* Стилизация кнопки */

/**
 * Block'btn'
 */
.btn {
 height: 48px;
 padding: 15px 24px;
 border-radius: 8px;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 border: none;
 color: var(--btn-text);
 cursor: pointer;
 transition: opacity 200ms ease-in-out;
 min-width: 182px;
}

.btn:disabled {
 opacity: 0.5;
 pointer-events: none;
}

/**
 * Modifiers of block 'btn'
 */
.btn_view_primary {
 background: var(--btn-primary);
}

.btn_view_secondary {
 background: var(--btn-secondary);
}

.btn_view_primary, .btn_view_secondary {
 transition: background 200ms ease-in-out;
}

.btn_view_alternate {
 background: var(--btn-alt);
 color: var(--btn-alt-text);
 border: var(--btn-alt-border);
 transition: border 200ms ease-in-out;
}

.btn_view_primary:hover {
 background: var(--btn-primary-hover);
}

.btn_view_secondary:hover {
 background: var(--btn-secondary-hover);
}

.btn_view_alternate:hover {
 border-color: var(--btn-alt-border-hover);
}

