/* Стилизация кнопки */

.btn-primary, .btn-secondary, .btn-alternate {
 width: 182px;
 height: 48px;
 flex-shrink: 0;
 border-radius: 8px;
 border: none;
 color: var(--white);
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
}

.btn-primary {
 background: var(--primary);
}

.btn-secondary {
 background: var(--secondary);
}

.btn-alternate {
 color: var(--grey-4);
 background: none;
 border: 1px solid var(--grey-3);
}

.btn-primary:hover, .btn-secondary:hover, .btn-alternate:hover {
 cursor: pointer;
}

.btn-primary:hover {
 background: var(--primary-hover);
}

.btn-secondary:hover {
 background: var(--secondary-hover);
}

.btn-alternate:hover {
 border-color: var(--black);
}

.btn-primary:disabled, .btn-secondary:disabled, .btn-alternate:disabled {
 opacity: 0.5;
 cursor: not-allowed;
 pointer-events: none;
}