.h1 {
 /*border-bottom: 1px var(--grey-2) solid;*/
 color: var(--black);
 padding: 40px 0;
}

.h1_inner {
 position: absolute;
 left: -10000px;
}

.h1__title {
 color: var(--black);
 font-family: Inter, sans-serif;
 font-size: 50px;
 font-style: normal;
 font-weight: 500;
 line-height: 1.28;
 margin: 0;
 padding: 0;
}

@media screen and (max-width: 768px) {
 .h1__title {
  color: var(--grey-4);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
 }
}

@media screen and (max-width: 400px) {
 .h1__title {
  color: var(--grey-4);
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
 }
}