.toggler {
 display: inline-flex;
}

.toggler__input {
 opacity: 0;
 position: absolute;
 left: -100vw;
}

.toggler__wrapper {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 12px;
}

.toggler__box {
 box-sizing: border-box;
 height: 28px;
 width: 50px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 border-radius: 28px;
 background-color: var(--white);
 border: 1px solid var(--grey-2);
 padding-left: 1px;

}

.toggler__circle {
 background-color: var(--grey-2);
 height: 24px;
 width: 24px;
 border-radius: 50%;
 border: 1px solid var(--white);
 box-sizing: border-box;
 transition: transform .3s ease-in;
}

.toggler__title {
 color: var(--grey-4);
 font-family: Inter, sans-serif;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
}

.toggler__icon {
 height: 24px;
 width: 24px;
 color: var(--grey-3);
 transition: color .3s ease-in-out;
}

.toggler__icon_theme-light {
 color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__wrapper .toggler__box {
 background-color: var(--blue);
 border: none;
}

.toggler__input:checked ~ .toggler__wrapper .toggler__circle {
 border: 1px solid var(--blue);
 height: 24px;
 width: 24px;
 /*border: none;*/
 background-color: var(--white);
 transform: translateX(23px);
}

.toggler__input:checked ~ .toggler__wrapper .toggler__icon_theme-dark {
 color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__wrapper .toggler__icon_theme-light {
 color: var(--grey-3);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__circle {
 background-color: var(--grey-3);
 border: 1px solid var(--grey-2);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__box {
 background-color: var(--grey-2);
 border: 1px solid var(--grey-2);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__icon {
 display: none;
}

.toggler__input:focus ~ .toggler__wrapper .toggler__title {
 text-decoration: underline;
}


