.toggler {
 display: inline-flex;
}
.toggler_burger-menu{
 display: block;
 box-sizing: border-box;
}

.toggler__input {
 opacity: 0;
 position: absolute;
 left: -200vw;
}

.toggler__wrapper {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 12px;
}
.toggler__wrapper_burger-menu{
 flex-direction: row-reverse;
 justify-content: space-between;
}

.toggler__box {
 box-sizing: border-box;
 height: 28px;
 width: 50px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 border-radius: 28px;
 background-color: var(--white);
 border: 1px solid var(--grey-2);
}

.toggler__circle {
 background-color: var(--grey-2);
 height: 26px;
 width: 26px;
 border-radius: 50%;
 border: 1px solid var(--white);
 box-sizing: border-box;
}

.toggler__title {
 color: var(--grey-4);
 font-family: Inter, sans-serif;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
}

.toggler__input:checked ~ .toggler__wrapper .toggler__box{
background-color: var(--blue);
 border: none;
 justify-content: flex-end;
}
.toggler__input:checked ~ .toggler__wrapper .toggler__circle{
border: 2px solid var(--blue);
 height: 28px;
 width: 28px;
/*border: none;*/
 background-color: var(--white);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__circle {
 background-color: var(--grey-3);
 border: 1px solid var(--grey-2);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__box{
 background-color: var(--grey-2);
 border: 1px solid var(--grey-2);
}

.toggler__input:disabled ~ .toggler__wrapper .toggler__icon {
 display: none;
}

.toggler__input:focus ~ .toggler__wrapper .toggler__title {
 text-decoration: underline;
}


