.modal {
 display: none;
 position: fixed;
 background-color: var(--grey-modal-back);
 height: 100vh;
 width: 100vw;
 font-family: Inter, sans-serif;
 font-size: 1rem;
}

.modal__window {
 width: 26.75em;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: .5em;
 background: var(--bg-primary);
 padding: 1.875em 2.5em 2.0625em;
}

.modal__title {
 font-size: 20px;
 font-style: normal;
 font-weight: 600;
 line-height: 1.2;
 color: var(--title-primary);
 margin-bottom: 14px;
}

.modal__message {
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
 color: var(--text-secondary);
}

.modal__close {
 cursor: pointer;
 position: absolute;
 top: .75em;
 right: .75em;
 height: 1.5em;
 width: 1.5em;
 color: var(--color-primary);
}

.modal_preview {
 height: 100%;
 width: 100%;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 1.375em;
 box-sizing: border-box;
}

.modal_preview .modal__window {
 height: 100%;
 width: 100%;
 background: var(--bg-primary);
 position: relative;
 top: initial;
 left: initial;
 transform: none;
 border-radius: .5em;
 box-sizing: border-box;
 padding: 1.375em;
 padding-top: .5em;
}

@media screen and (max-width: 768px) {
 .modal_preview {
  position: absolute;
  top: 0;
  padding: 1em 0;
 }

 .modal_preview .modal__window {
  border-radius: 0;
  padding: .5em .6em 1em;
 }
}
