.histogram {
 font-size: 16px;
 background: var(--white);
 border-radius: 0.5em;
 border: 1px solid var(--grey-3);
 padding: 0.0625em 1.5em 1.5em;
 display: flex;
 flex-flow: column nowrap;
 gap: 0.375em;
 width: 100%;
}

.histogram_preview {
}

.histogram__header {
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 padding-top: 1em;
}

.histogram__title {
 font-size: 1em;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;

}

.histogram__link {
 color: var(--histogram-primary);
 text-decoration: none;
 font-size: 1em;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
}

.histogram__content {
 display: flex;
 flex-flow: column nowrap;
}

.histogram__value {
 font-size: 1.625em;
 font-style: normal;
 font-weight: 400;
 line-height: 1.3;
}

.histogram__bars {
 height: 3.125em;
 display: flex;
 align-items: flex-end;
 gap:1px;
 margin-top: 2.4em;
}

.histogram__bar {
 background: var(--histogram-primary);
 flex-grow: 1;
}

/**
* Animation
*/
.histogram__bars {
 transform-origin: bottom;
 animation: bars 0.5s ease-in-out;
}

@keyframes bars {
 from {
  transform: scaleY(0)
 }
 to {
  transform: scaleY(100%)
 }
}

@media screen and (max-width: 768px) {
 .histogram_preview {
  font-size: 11px;
  padding: 0.03em 0.7em 0.7em;
  gap: 0.375em;
  max-width: 145px;
 }
 .histogram__bars{
  height: 2.5em;
  margin-top: 1em;
 }
}
