.page {
 height: 100vh; /* ? If set to 100%, the footer sometimes becomes detached. */
 display: flex;
 flex-flow: column nowrap;
}

.page__main {
 flex-grow: 1;
}

.page__bg-color_grey-5 {
 background-color: var(--grey-5);
}