.page {
 max-height: 100%; /* ? If set to 100%, the footer sometimes becomes detached. */
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
}

.page__main {
 flex-grow: 1;
}

/**
* modifier for inner component page
*/
.page_inner {
 display: grid;
 grid-template-rows: auto 1fr auto;
 grid-row-gap: 36px;
 background-color: var(--bg-secondary);
}

@media screen and (max-width: 768px) {
 .page_inner {
  background-color: var(--bg-primary);
  grid-row-gap: 32px;
 }
}