.avatar {
 font-size: 1rem;
 height: 10em;
 width: 10em;
 border-radius: 50%;
 overflow: hidden;
}

.avatar__img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}

@media screen and (max-width: 768px){
 .avatar {
  height: 7.25em;
  width: 7.25em;
 }
}
