.avatar {
 height: 160px;
 width: 160px;
 border-radius: 50%;
 overflow: hidden;
}

.avatar__img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}

@media screen and (max-width: 768px){
 .avatar {
  height: 116px;
  width: 116px;
 }
}
