.container {
 margin: 0 auto;
 max-width: 1140px;
 padding-left: 15px;
 padding-right: 15px;
 box-sizing: border-box;
}

.container_h100 {
 height: 100%;
}

.container_preview_inputs {
 display: flex;
 flex-direction: column;
 gap: 16px;
 margin: 0;
 padding: 0;
}

.container_preview_modal-inputs {
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 7px;
}

@media screen and (max-width: 768) {
 .container_preview_modal-inputs {
  gap: 3px;
 }
}
