@import "normalize.css";
@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/card/card.css';
@import '../../components/container/container.css';
@import '../../components/demo/demo.css';
@import '../../components/sidebar/sidebar.css';
@import "../../components/logo/logo.css";
@import "../../components/h1/h1.css";
@import "../../components/tabs/tabs.css";

:root {
 --white: #ffffff;
 --black: #212429;
 --pink: #f784ad;
 --purple: #7048e8;
 --dark-purple: #5028c6;
 --blue: #374fc7;
 --blue-2: #4263eb;
 --dark-blue: #2342c0;
 --red: #f03d3e;
 --grey-1: #f8f9fa;
 --grey-2: #dde2e5;
 --grey-3: #acb5bd;
 --grey-4: #495057;
 --grey-5: #F9FAFC;
 --error: var(--red);
 --success: var(--blue);

 /*BUTTONS*/
 --primary: var(--blue);
 --primary-hover: var(--dark-blue);
 --secondary: var(--purple);
 --secondary-hover: var(--dark-purple);
 --alternate: none;
 --alternate-color: var(--gray-4);
 --alternate-border: 1px solid var(--grey-3);
 --alternate-border-hover: var(--black);

 /**
 * histogram styles
 */
 --histogram-primary: var(--blue-2);

 /**skeleton-bg*/
 --skelet-bg: linear-gradient(93deg, #dde2e5 6.44%, #e2e6e8 38.47%, #f3f5f5 56.48%, #e3e7ea 77.5%, #dde2e5 102.52%);

 --card-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);

 /*CALENDAR*/
 --calendar-primary: #334D6E;
 --calendar-days: #90A0B7;
 --calendar-range: rgba(160, 177, 245, 0.2) /*#A0B1F5 with opacity 0.2*/;











 /* Modal dialog colors */
 --grey-modal-back: rgba(196, 196, 196, 0.5);











 --notification: #D84910;
}

body {
 font-family: 'Roboto', sans-serif;
}


/**
* transitions only after page load
*/
.preload * {
 transition: none !important;
}
