.calendar {
 border: 1px solid var(--grey-3);
 border-radius: 8px;
 background: var(--white);
 padding: 9% 8% 11%; /*28px 26px 32px when calendar width is 304px*/
 max-width: 304px;
 font-size: 20px;
}

.calendar_preview{
 font-size: 13px;
 max-width: 202px;
 min-width: 202px;
 /*height: 215px;*/
 padding: 8% 7% 10%;
}

.calendar__wrapper {
 padding-bottom: 66.6%;
 position: relative;
}

.calendar__inner {
 display: grid;
 grid-template: repeat(6, 1fr) / repeat(7, 1fr);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.calendar__title {
 font-family: Inter, sans-serif;
 font-size: 1em;
 font-style: normal;
 font-weight: 600;
 line-height: 1.2;
 color: var(--calendar-primary);
 margin-bottom: 8%; /* 24px  when calendar width is 304px */
 text-align: center;
}

.calendar__item {
 color: var(--calendar-primary);
 text-align: center;
 font-family: "Source Sans Pro", sans-serif;
 font-size: 0.84em; /*16px from 20px*/
 font-style: normal;
 font-weight: 400;
 line-height: 1.25;
 display: flex;
 align-items: center;
 justify-content: center;
}

.calendar__item_day {
 color: var(--calendar-days);
 text-align: center;
 font-family: Inter, sans-serif;
 font-size: 0.74em; /*14px from 20px*/
 font-style: normal;
 font-weight: 400;
 line-height: 1.4;
 margin-bottom: 40%; /* 16px when calendar width is 304px */
}

.calendar__item_range_edge {
 background: var(--blue-2);
 color: var(--white);
 font-style: normal;
 font-weight: 400;
}

.calendar__item_range_inner {
 background: var(--calendar-range);
}
