.calendar {
 border: 1px solid var(--grey-3);
 border-radius: 8px;
 background: var(--white);
}

.calendar__wrapper {

}

.calendar__inner {
 display: grid;
 grid-template: repeat(6, 1fr) / repeat(7, 1fr);
}

.calendar__title {

}

.calendar__item {

}

.calendar__item_day {

}

.calendar__item_range_edge {

}

.calendar__item_range_inner {

}