.skelet {
 border: 1px solid var(--grey-3);
 border-radius: 8px;
 padding: 24px 40px 32px 24px;
 background: var(--white);
 width: 100%;
}

.skelet__item {
 display: flex;
 align-items: center;
 gap: 16px;
}

.skelet__item + .skelet__item {
 margin-top: 24px
}

.skelet__column {
 display: flex;
 flex-flow: column nowrap;
 flex-grow: 1;
 gap: 8px;
}

.skelet__ellipse {
 height: 64px;
 width: 64px;
 background: var(--skelet-bg);
 border-radius: 100%;
}

.skelet__rectangle {
 height: 20px;
 background: var(--skelet-bg);
}

.skelet__rectangle_w_30ps {
 width: 30%;
}

.skelet__rectangle_w_50ps {
 width: 50%;
}

.skelet__rectangle_w_90ps {
 width: 90%;
}

/**
* background animation
*/

.skelet__ellipse, .skelet__rectangle {
 animation: bg 1.5s linear infinite;
 animation-fill-mode: forwards;
 background-size: 200%;
}

@keyframes bg {
 from {
  background-position-x: 400%
 }
 20% {
  background-position-x: 300%
 }
 50% {
  background-position-x: 200%
 }
 to {
  background-position-x: 0;
 }
}
