.skelet {
 border: 1px solid var(--black);
 padding: 24px;
 border-radius: 12px;
}

.skelet__item {
 margin-bottom: 8px;
 margin-top: 8px;
}

.skelet__item:first-child{
 margin-top: 0;
}

.skelet__container {
 display: flex;
 gap: 8px;
}

.skelet__container_direction_col {
 flex-flow: column nowrap;
}

.skelet__container_direction_row {
 align-items: center;
}

.skelet__container_greedy {
 flex-grow: 1;
}

.skelet__shape-ellipse {
 height: 64px;
 width: 64px;
 background: var(--skelet-bg);
 border-radius: 100%;
}

.skelet__shape-rectangle {
 height: 20px;
 min-width: 85px;
 background: var(--skelet-bg)
}

.skelet__shape-rectangle_w_50ps {
 width: 50%;
}

.skelet__shape-rectangle_w_75ps {
 width: 75%;
}

.skelet__shape-rectangle_w_100ps {
 width: 100%;
}