.tooltip {
 display: inline-block;
 position: relative;
 font-family: Inter, sans-serif;
 font-size: 16px;
}

.tooltip_preview {
 transform: translateY(2em);
}

.tooltip_preview .tooltip__bubble-top {
 opacity: 1;
}

.tooltip__trigger {
 cursor: pointer;
 height: 1.5em;
 width: 1.5em;
 color: var(--color-primary);
}

.tooltip__bubble-top {
 position: absolute;
 opacity: 0;
 bottom: calc(50% + .75em + .75em);
 left: 50%;
 transform: translateX(-50%);
 font-style: normal;
 font-weight: 400;
 line-height: 1.5;
 padding: .81em 1.31em .5em;
 background: var(--btn-primary);
 color: var(--color-alternate);
 border-radius: .625em;
 box-shadow: var(--card-shadow);
 width: 8.06em;
 transition: opacity .5s ease-in-out;
}

.tooltip__bubble-top:after {
 content: '';
 position: absolute;
 left: 50%;
 bottom: calc(-1em + 1px); /* !!! 1px — COMPENSATION FOR ROUNDING INACCURACIES !!! */
 border: .625em solid transparent;
 border-top: .375em solid var(--btn-primary);
 transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble-top {
 display: block;
 opacity: 1;
}

@media screen and (max-width: 768px){
 .tooltip{
  font-size: 12px;
 }
}
