.footer {
 background-color: var(--white);
 border-top: 1px var(--grey-2) solid;
 text-align: center;
 padding-top: 100px;
 padding-bottom: 100px;
 color: var(--black);
}

.footer__title {
 font-size: 38px;
 font-weight: 500;
 line-height: 1.26;
}

.footer__description {
 max-width: 640px;
 font-size: 16px;
 line-height: 1.5;
 font-width: 400;
}

.footer__wrapper {
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
}

@media screen and (max-width: 768px) {

 .footer {
  padding-top: 60px;
  padding-bottom: 60px;
 }

 .footer__title {
  font-family: Inter, sans-serif;
  font-size: 21px;
  line-height: normal;
 }

 .footer__description {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: normal;
 }
}