.footer {
 background-color: var(--bg-primary);
 border-top: 1px var(--border-alternate) solid;
 text-align: center;
 padding-top: 100px;
 padding-bottom: 100px;
}

.footer__title {
 font-size: 38px;
 font-weight: 500;
 line-height: 1.26;
 color: var(--title-secondary);
}

.footer__description {
 max-width: 640px;
 font-size: 16px;
 line-height: 1.5;
 font-width: 400;
 color: var(--text-secondary);
}

.footer__wrapper {
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
}

/**
* modifier for inner component page
*/
.footer_inner {
 border: none;
 padding-top: 56px;
 padding-bottom: 56px;
 background: none;
}

.footer_inner .footer__title {
 /*h5*/
 font-family: Inter, sans-serif;
 font-size: 12px;
 font-style: normal;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.48px;
 text-transform: uppercase;
 color: var(--title-secondary);
}

@media screen and (max-width: 768px) {

 .footer {
  padding-top: 60px;
  padding-bottom: 60px;
 }

 .footer__title {
  font-family: Inter, sans-serif;
  font-size: 21px;
  line-height: normal;
 }

 .footer__description {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: normal;
 }
}