.input {
 display: inline-flex;
 gap: 5px;
 font-size: 12px;
}

.input__preview {
 width: 195px;
 font-size: 7px;
}

.input__element {
 width: 100%
}

.input__label {
 color: var(--grey-3);
 font-family: Inter, sans-serif;
 font-size: 1em;
 font-style: normal;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.04em;
 text-transform: uppercase;
 margin: 0;
}

.input__inner {
 position: relative;
 width: 100%;
}

.input__text {
 --font-size-factor: 1.66;
 font-size: calc(1em * var(--font-size-factor));
 padding: calc(1.4em / var(--font-size-factor)) calc(3.75em / var(--font-size-factor)) calc(1.1em / var(--font-size-factor)) calc(2em / var(--font-size-factor));
 color: var(--Grey-4);
 font-family: Inter, sans-serif;
 font-style: normal;
 font-weight: 400;
 line-height: 1.3;
 border: 1px solid var(--grey-2);
 border-radius: 0.4em;
 box-sizing: border-box;
 width: 100%;
}

.input__text::placeholder {
 color: var(--grey-2);
 font-family: Inter, sans-serif;
 font-size: 1em;
 font-style: normal;
 font-weight: 400;
 line-height: 1.3;
}

.input__icon {
 height: 2em;
 width: 2em;
 position: absolute;
 right: 1.33em;
 top: 50%;
 transform: translate(0, -50%);
 display: none;
}

.input__text:focus {
 outline: var(--blue) solid 1px;
}

.input_invalid .input__element .input__text {
 outline: var(--error) solid 1px;
}

.input_invalid .input__element .input__icon_invalid {
 display: block;
 color: var(--error);
}

.input_success .input__element .input__icon_success {
 display: block;
 color: var(--success);
}
